- title
.balance_sheet
  .header
    %h2= l(Date.today)
  .content
    = render :partial => "balance_sheet_table", :locals => {:class_name => 'Asset', :accounts => @assets}
    = render :partial => "balance_sheet_table", :locals => {:class_name => 'Liability', :accounts => @liabilities}
    = render :partial => "balance_sheet_table", :locals => {:class_name => 'Equity', :accounts => @equities}